<div class="panel col-md-12" ng-hide='loadingQuotes'>
    <div class="panel-heading"><h2>Quote history</h2></div>
    <table class="table table-condensed table-striped table-hover " ng-hide="quotes.length == 0">
        <tr class="black-muted-bg">
            <th><strong>Sent Amount</strong></th>
            <th><strong>Recipient</strong></th>
            <th><strong>Recieved Amount</strong></th>
            <th><strong>Conversion Rate</strong></th>
        </tr>
        <tr class="pointer" ng-click="gotoConversion(quote)" ng-repeat="quote in quotes">
            <td>{{quote.from_currency.symbol}} <span ng-bind="quote.from_amount*(-1)  | currencyModifiersFilter: quote.from_currency.divisibility | preciseRound: quote.from_currency.divisibility"></span></td>
            <td>{{quote.metadata.recipient}}</td>
            <td>{{quote.to_currency.symbol}} <span ng-bind="quote.to_amount  | currencyModifiersFilter: quote.to_currency.divisibility | preciseRound: quote.to_currency.divisibility"></span></td>
            <td>{{(quote.fixed_rate ? quote.fixed_rate : quote.rate).toString()}}</td>
        </tr>
    </table>
    <div>
        <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"
           total-items="quotesData.count" ng-model="pagination.pageNo"
           max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination"
           force-ellipses="true" ng-change="getQuotes()"
           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
    </div>
    <div ng-show="quotes.length == 0"><i>No quote history</i></div>
</div>


<!-- LOADING PANEL SCREEN -->
<div ba-panel ng-show='loadingQuotes'>
    <loading-image></loading-image>
</div>
