<div class="panel col-md-8" ng-show="loadingActiveQuotes">
    <loading-image></loading-image>
</div>
<div class="panel col-md-8" ng-hide="loadingActiveQuotes">
    <div class="panel-heading"><h2>Your quote</h2></div>
    <div class="panel-body">
        <p><strong>You pay</strong></p>
        <p>{{to_currency.from_currency.symbol}} <span ng-bind="from_amount  | currencyModifiersFilter: to_currency.from_currency.divisibility | preciseRound: to_currency.from_currency.divisibility"></span></p>
        <br>
        <p><strong>They receive</strong></p>
        <p>{{to_currency.to_currency.symbol}} <span ng-bind="to_amount  | currencyModifiersFilter: to_currency.to_currency.divisibility | preciseRound: to_currency.to_currency.divisibility"></span></p>

    </div>
    <loading-image ng-show="loading"></loading-image>
    <div class="panel-btn">
        <button ng-click='modifyQuote({status: "cancel"})' class="btn btn-danger pull-right">Cancel</button>
    </div>
</div>
<!-- SELECT BANK TAB -->
<div class="panel col-md-8" ng-show='tab == "bank" && !(loading || loadingActiveQuotes)'>
    <div class="panel-heading"><h3>Add recipient</h3></div>

    <div class="panel-body">
        <select class="form-control"
                ng-options="account.id as (account.name + ' ' + account.bank_name + ' ' + account.number)  for account in bankAccounts"
                ng-model="selected_account"></select>
        <hr>
        <div ng-hide="selected_account == -1">

            <div class="row divider">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table user-details-table">
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account name</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().bank_name || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account number</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().number || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Account type</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().type || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank name</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().bank_name || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Bank code</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().bank_code || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Branch code</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().branch_code || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">Swift</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().swift || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">IBAN</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().iban || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                        <tr>
                            <th width="2%"></th>
                            <th width="20%" class="user-bank-table-th-title">BIC</th>
                            <th width="8%"></th>
                            <th width="20%" class="user-bank-table-th">{{getSelectedAccount().bic || 'Not provided'}}
                            </th>
                            <th width="50%"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-show="selected_account == -1">
        <p><strong>Add a new recipient</strong></p>
        <form name="bankAccountForm">
            <div>
                <div class="form-group">
                    <label><strong>Recipient email <span class="required-icon">*</span></strong></label>
                    <input type="email" ng-model="newBankData.recipient" class="form-control"
                           placeholder="E.g hello@example.com">
                </div>
                <div class="form-group">
                    <label><strong>Account name/holder</strong> <span class="required-icon">*</span></label>
                    <input type="text" ng-model="newBankData.name" class="form-control" placeholder="E.g Currency Corp"
                           required>
                </div>
                <div class="form-group">
                    <label><strong>Account number <span class="required-icon">*</span></strong></label>
                    <input type="text" ng-model="newBankData.number" class="form-control" placeholder="E.g 5246357653"
                           required>
                </div>
                <div class="form-group">
                    <label><strong>Bank name</strong> <span class="required-icon">*</span></label>
                    <input type="text" ng-model="newBankData.bank_name" class="form-control"
                           placeholder="E.g Saharah Bank Ltd" required>
                </div>
                <div class="form-group">
                    <label><strong>Account type</strong></label>
                    <input type="text" ng-model="newBankData.type" class="form-control"
                           placeholder="E.g Cheque/Current/Savings">
                </div>
                <div class="form-group">
                    <label><strong>Bank code</strong></label>
                    <input type="text" ng-change="bankAccountChanged('bank_code')" ng-model="newBankData.bank_code"
                           class="form-control" placeholder="E.g 342543">
                </div>
                <div class="form-group">
                    <label><strong>Branch code</strong></label>
                    <input type="text" ng-model="newBankData.branch_code" class="form-control" placeholder="E.g 456798">
                </div>
                <div class="form-group">
                    <label><strong>Swift</strong></label>
                    <input type="text" ng-model="newBankData.swift" class="form-control" placeholder="E.g FDDODUMM">
                </div>
                <div class="form-group">
                    <label><strong>Iban</strong></label>
                    <input type="text" ng-model="newBankData.iban" class="form-control"
                           placeholder="E.g DE41700333001189190812">
                </div>
                <div class="form-group">
                    <label><strong>Bic</strong></label>
                    <input type="text" ng-model="newBankData.bic" class="form-control" placeholder="E.g FDDODUMMXXX">
                </div>

            </div>
        </form>
    </div>
    <div class="form-group" ng-show="selected_account != -1 && selected_account!=-2">
        <label><strong>Recipient email <span class="required-icon">*</span></strong></label>
        <input type="email" ng-model="newBankData.recipient" class="form-control"
               placeholder="E.g hello@example.com">
    </div>
    <div class="form-group">
        <label><strong>Extra</strong></label>
        <input type="text" ng-model="newBankData.extra" class="form-control">
    </div>
    <div class="form-group" ng-show="selected_account == -1">
        <button ng-disabled="!bankAccountForm.$valid" ng-click="addBankAccount(newBankData)"
                class="btn btn-primary pull-right">Add
        </button>
    </div>
    <div ng-disabled="newBankData.email==''" class="panel-btn" ng-hide="selected_account == -1">
        <button ng-click="modifyQuote({bank:getSelectedAccount(),recipient:newBankData.recipient,extra:newBankData.extra})" class="btn btn-primary pull-right">Next
        </button>
    </div>
</div>

<!-- MAKE PAYMENT TAB -->
<div class="panel col-md-8" ng-show='tab == "payment" && !loading && !loadingActiveQuotes'>
    <div ng-show="active_quote.payment_claim">
        <div class="panel-heading"><h2>Payment claimed</h2></div>
        <p>If you see this message, it means you've indicated that you've made the payment. Our team will first
            wait for the payment to clear successfully. After that we'll process the transfer and let you know when
            the payout has been completed.
        </p>
    </div>

    <!-- <div ng-hide="active_quote.payment_claim"> -->

    <div class="panel-heading" ng-hide="active_quote.payment_claim"><h2>Make payment</h2></div>
    <div class="panel-body">
        <p ng-hide="active_quote.payment_claim">You have to transfer exactly {{active_quote.from_currency.symbol}}
            {{active_quote.from_amount*(-1)/100}} to the bank
            details below.</p>
        <hr ng-hide="active_quote.payment_claim">
        <table class="table table-bordered">
            <tr class="active">
                <td class="success">Your reference</td>
                <td class="success">{{companyBankData.reference}}</td>
            </tr>
            <tr class="active">
                <td class="success">Bank name</td>
                <td class="success">{{companyBankData.bank_name}}</td>
            </tr>
            <tr class="active">
                <td class="warning">Holder name</td>
                <td class="warning">{{companyBankData.name}}</td>
            </tr>
            <tr class="active">
                <td class="info">Account number</td>
                <td class="info">{{companyBankData.number}}</td>
            </tr>
            <tr class="active" ng-show="companyBankData.type">
                <td>Account type</td>
                <td>{{companyBankData.type}}</td>
            </tr>
            <tr class="active" ng-show="companyBankData.branch_code">
                <td>Branch code</td>
                <td>{{companyBankData.branch_code}}</td>
            </tr>
            <tr class="active" ng-show="companyBankData.bank_code">
                <td>Bank code</td>
                <td>{{companyBankData.bank_code}}</td>
            </tr>
            <tr class="active" ng-show="companyBankData.iban">
                <td>IBAN</td>
                <td>{{companyBankData.iban}}</td>
            </tr>
            <tr class="active" ng-show="companyBankData.bic">
                <td>BIC</td>
                <td>{{companyBankData.bic}}</td>
            </tr>
            <tr class="active" ng-show="companyBankData.swift">
                <td>Swift code</td>
                <td>{{companyBankData.swift}}</td>
            </tr>
        </table>
    </div>
</div>

<!--
<div ng-hide="active_quote.payment_claim">
    <div class="panel col-md-8" ng-show='tab == "payment" && !loading'>
        <div class="panel-heading"><h2>Confirm payment</h2></div>
        <div class="panel-body">
            <p>
                Click this button once you've successfully made a payment to the bank details shown above. Please do not
                click this button if you have not yet made a payment yet.
            </p>
        </div>
        <div class="panel-btn">
            <button ng-click='modifyQuote({claim_payment: true})'
                    style="width:auto; padding-left:10px; padding-right:10px;" class="btn btn-default pull-right">I have
                made the payment
            </button>
        </div>
    </div>
</div>-->
